<div class="padding" style="padding: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Login</h1>
          <form id="FormGroup" (ngSubmit)="login()">
            <div class="form-group col-md-6 offset-sm-3 text-center">
              <label for="uname"><b>Username</b></label>
              <input type="text"  class="form-control" placeholder="Enter Username"
                name="username" required>
                <label id="errorText" *ngIf="!isUserValid">
                  Invalid Input
              </label>
            </div>
            <div class="form-group col-md-6 offset-sm-3 text-center">
              <label for="psw"><b>Password</b></label>
              <input type="password" class="form-control" placeholder="Enter Password"
                name="password" required (focusout)="userCheck()">
                <label id="errorText" *ngIf="!this.FormGroup.get('password').valid">
                  Invalid Input
              </label>
            </div>
            <div class="form-group col-md-6 offset-sm-3 text-center">
              <button type="button" class="btn btn-primary" [disabled]="!FormGroup.valid">Submit</button>
              <a routerLink="/register" class="btn btn-link">Register</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>