<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- <a class="navbar-brand" href="#">
          <img src="https://steemitimages.com/640x0/https://cdn.steemitimages.com/DQmWQN2V4aXZe7ie8qmJs2auHpS52Dh4rnsF9yW2LPj38wi/LOGOMARK.png" height="50"  alt="">
      </a>--> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="/login" *ngIf = "!this.IsloggedIn()">Breakout <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" routerLink="/game" *ngIf = "!this.IsloggedIn()">Game</a>
          <a class="nav-item nav-link" routerLink="/score" *ngIf = "!this.IsloggedIn()">Scoreboard</a>
        </div>
      </div>
    </nav>
   
  