
                                 



    <div class="login-container body">
        <section class="login" id="login">
          <header>
            <h2 >BreakOut Game</h2>
            <h4>Sign Up</h4>
          </header>
          <form class="login-form"  [formGroup]="testFormGroup" (ngSubmit)="this.login()">
            <input type="text" class="login-input" placeholder="User" required autofocus  (focusout)="inputUserFocusOut()" formControlName="user" />
            <label id="errorText" *ngIf="!isUserValid">
         
           </label>
            <input type="password" class="login-input" placeholder="Password" formControlName="password" required/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
              <label id="errorText" *ngIf="!this.testFormGroup.get('password').valid">
              
              </label>
            </div>
            <div class="submit-container">
              <button type="submit" class="login-button">SIGN UP</button>
            </div>
         
              </form>
          
              
        </section>
        <p>2020 - <a href="https://www.twitch.tv/ellibesh"> Designed by Dilber</a></p>
       
        
      </div>
      